@import "./fonts.css";

@import "tailwindcss";
@source inline("grid-cols-{2..10}");
@source inline("row-span-{2..10}");
@source inline("col-span-{2..10}");

@utility tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

@utility smooth-edges {
  backface-visibility: hidden;
}
  
@utility animate-wave {
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
