<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sophia Williams - {{ meta.title }}</title>
    <meta name="description" content="{{ description or meta.description }}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Start - Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap" rel="stylesheet">
    <!-- End - Fonts -->
    {{ scripts | safe }}
  </head>

  <body class="dark:bg-black bg-white h-screen text-black dark:text-white px-5 md:px-20 opacity-0 animate-fade-in transition duration-500">
    {% include "header.njk" %}
    <div class="container mx-auto">
      {{ content | safe }}
    </div>
    {% include "footer.njk" %}
    <script type="module" src="{{ '/assets/js/fade_in.js' | url }}"></script>
    <script type="module" src="{{ '/assets/js/menu.js' | url }}"></script>
  </body>
</html>
